
body{
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
	text-align: center;}
img {
	width: 100px;
	height: 90px;}

table {
	background-color: white;
	width: 80%;}
	
th {
	font-size: 3em;
	font-family: 'Condiment', cursive;
	padding-top: 20px;
	color: rgb(255,255,77);}
	
td {
	padding-top: 20px;}